@page "{id:int}"
@model DoctorAppointments.Pages.EditAppointmentModel
@{
    ViewData["Appointments"] = "Edit Appointment";
}

<h1>Edit appointment</h1>

<form method="post" asp-page-handler="EditAppointment">
    <input type="hidden" asp-for="EditAppointment.AppointmentId"/>
    <div class="mb-3">
        <label for="TimeslotDate" class="form-label">Timeslot Date</label>
        <input id="TimeslotDate" type="date" asp-for="EditAppointment.Timeslot.Date" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="TimeslotStartTime" class="form-label">Timeslot Start Time</label>
        <input step="1800" min="9:00" max="17:00" id="TimeslotStartTime" type="time" asp-for="EditAppointment.Timeslot.StartTime" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="TimeslotEndTime" class="form-label">Timeslot End Time</label>
        <input type="time" step="1800" min="9:00" max="17:00" id="TimeslotEndTime" asp-for="EditAppointment.Timeslot.EndTime" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="PatientFirstName" class="form-label">Patient First Name</label>
        <input id="PatientFirstName" asp-for="EditAppointment.Patient.FirstName" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="PatientLastName" class="form-label">Patient Last Name</label>
        <input id="PatientLastName" asp-for="EditAppointment.Patient.LastName" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="PatientAMKA" class="form-label">Patient AMKA</label>
        <input id="PatientAMKA" asp-for="EditAppointment.Patient.AMKA" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="AppointmentStatus" class="form-label">Appointment Status</label>
        <select class="form-control" asp-for="EditAppointment.Status">
            <option selected="@(Model.EditAppointment.Status == "New" ? "selected" : null)">New</option>
            <option selected="@(Model.EditAppointment.Status == "Ongoing" ? "selected" : null)">Ongoing</option>
            <option selected="@(Model.EditAppointment.Status == "Completed" ? "selected" : null)">Completed</option>
            <option selected="@(Model.EditAppointment.Status == "Cancelled" ? "selected" : null)">Cancelled</option>
        </select>

    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input id="Description" asp-for="EditAppointment.Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Edit Appointment</button>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
</form>